a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fcb8d2;
}

a:hover,
a:active,
a.active {
  color: white;
}

.food-meter {
  position: absolute;
  top: 10px;
  right: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #77002e;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #a0c884;
  position: relative;
  overflow: hidden;
}

.circle-text {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  color:  #fff;
}

.circle .box {
  background-color: #426e1f;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
}