a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #F2F3AE;
}

a:hover,
a:active,
a.active {
  color: #F2F3AE;
}

.food-meter {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #F4442E;
}

.circle {
  width: 50px;
  height: 50px;
  border: 3px solid #E2E2E2;
  border-radius: 100%;
  background-color: #EDD382;
  position: relative;
  overflow: hidden;
}

.circle-text {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  color:  #F2F3AE;
}

.circle .box {
  background-color: #FC9E4F;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #F2F3AE;
  text-align: center;
}
