.player-wrapper {
  width: auto; 
  height: auto; 
}
.react-player {
  /* padding-top: 56.25%;  */
  width: 100px; 
  height: 100px; 
  /* position: relative; */
}

.react-player > div {
  width: 100px; 
  height: 100px; 
  position: absolute;
}