.player-wrapper {
  position: relative;
  width: auto; 
  height: 70vh;
  z-index: 0!important;
}
.react-player {
  position: relative;
  width: 100% !important; 
  height: 100% !important; 
  z-index: 0!important;
}

.ytp-player-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0!important;
}
.react-player > div {
  z-index: 0!important;
  position: absolute;
}


.add2Cart{
  position: absolute;
  bottom: 100px;
  right: 10px;
  z-index: 1000;
}
